body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding-bottom: 130px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 110px;
}

.header {
    width: 1000px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.top-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
    gap: 20px;
}

.modal-placeholder {
    width: 1000px;
    display: flex;
    gap: 50px;
}

.top-modal {
    
}

.top-modal-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.top-modal-info {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 5px 10px 10px 0;
}

.modal-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    padding: 5px 32px;
    font-weight: 700;
    margin: auto;
}

.placeholder {
    font-size: 18px;
    color: #E5E7EB;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.container-2 {
    height: 480px;
    display: flex;
    flex-direction: column;
}

.illustration-holder-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.illustration-container {
    display: flex;
    justify-content: center;
    gap: 55px;
    
}

.illustation-holder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 160px;
}

.illustration-holder {
    border: 4px solid #3882F6;
    border-radius: 18px;
    width: 160px;
    height: 160px;
    display: flex;
    flex-shrink: 0;
}

.subtext {
    color: #1F2937;
    font-size: 15px;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat';
}

.quote-author {
    font-weight: 700;
    color: #1F2937;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.bottom-modal {
    background-color: #3882F6;
    width: 1000px;
    border-radius: 7px;
    padding: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.bottom-modal-content {
    display: flex;
    flex-direction: column;
}

.bottom-modal-title {
    color: #E5E7EB;
    font-size: 22px;
    font-weight: bold; 
}

.bottom-modal-info {
    color: #E5E7EB;
    font-size: 18px;
}

.bottom-button-container {

}

.bottom-modal-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px 32px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #F9FAF8;
    font-size: 18px;
}